  html,
  body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  @tailwind base;
  @tailwind components;

  h1 {
    @apply text-4xl lg:text-5xl font-bold;
  }

  @tailwind utilities;
